html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: visible;
    font-weight: 400;
}
body {
    position: relative;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Open Sans", sans-serif;
}
